:root {
  --dark: #240245;
  --black: black;
  --light: #e4dafa;
  --white: #fff;
  --darkText: #240220;
}
body {
  color: var(--darkText);
  background-color: var(--light);
}
body {
  color: #240220;
  background-color: #e4dafa;
}
.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  margin-top: 3em;
  text-align: center;
}
.container p {
  width: 70%;
}
.timer {
  display: flex;
}

.hide {
  display: none;
}

.button {
  margin-top: 4em;
  background-color: var(--dark);
  color: #fff;
  padding: 0.5em 1.2em;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.choice {
  text-align: left;
  width: 40%;
  background-color: #460b80;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1em;
  border: none;
  padding: 0.6em 1em;
  border-radius: 5px;
}

.choice:hover,
.button:hover {
  background-color: var(--white);
  color: #240245;
  box-shadow: 0 4px 3px grey;
}
footer {
  margin-top: 30vh;
  width: 100%;
  text-align: center;
}
